{% extends "base.html" %}
{% block content %}
<h4 class="mt-4 mb-5 border-bottom">ユーザ情報閲覧</h4>
<table class="table">
    <tbody>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.username }}</td>
        </tr>
        {% if user.username != user.email %}
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.email }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}