{% extends "base.html" %}
{% block content %}
<h4 class="mt-4 mb-5 border-bottom">ユーザ情報の更新</h4>
<form action="" method="POST">
    {{ form.non_field_errors }}
    <table class="table">
        <tbody>
            {% for field in form %}
                <tr>
                    <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                    <td>{{ field }} {{ field.errors }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" >送信</button>
</form>
{% endblock %}